*{
    padding:0;
    margin:0;
}
.main{
    font-family: sans-serif;
    background-color: #2a66ff;
    display: flex;
    height:700px;
    justify-content: center;
    padding-top: 50px;
}
#welcome{
    height:70px;
    text-align: center;
    color:white;
    font-size:50px;
    background-color: #333;
}
.container {
    background: white;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 350px;
    text-align: center;
    height:150px;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.1);
}

.btn-grid {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 15px 0;
}

button {
    padding: 10px;
    cursor: pointer;
    background-color: #ffffff;
    border: 1px solid #333;
    border-radius: 3px;
}

button:hover {
    background-color: #eee;
}